/*Mobile: 480px*/
@media (max-width: 480px) {
  .logo {
    position: relative;
    right: 10%;
    margin-bottom: 30%;
  }

  .navbar {
    width: 10%;
    bottom: 50%;
  }
  .navbar a {
    display: table-header-group;
    font-size: 15px;
    line-height: 90%;
  }
/*Home | 1.Section*/
  .home {
    background-position: right bottom;
  }

  .home-content {
    max-width: 100%;
  }

  .home-content h1 {
    position: relative;
    right: 8%;
    font-size: 20px;
    line-height: 75%;
    width: 100%;
    padding: 0 10%;
  }

  .home-content h3 {
    position: relative;
    font-size: 18%;
    line-height: 80%;
    width: 100%;
    margin: 3%;
  }

  .home-content p {
    font-size: 10px;
  }

  .home-content .btn-box {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .btn-box a {
    width: 100%;
    margin-bottom: 10px;
  }

  .home-sci {
    width: 100%;
    bottom: 70%;
    justify-content: space-around;
  }

  .home-imgHover {
    position: fixed;
  }

/*Timeline/ 2.Section*/
  .timeline {
    height: auto;
    padding: 20px 5%;
  }

  .timeline-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #timeline-bar-container {
    width: 100%;
    margin-top: 10px;
  }

  #timeline-bar-container ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #timeline-bar-container li:after {
    display: none;
  }

  #timeline-bar-container li {
    width: 100%;
    font-size: 20px;
  }

  #progress-content-section {
    width: 100%;
    margin-top: 250px;
  }

  #progress-content-section .section-content {
    padding: 20px;
    margin: auto;
    text-align: center;
  }

  #timeline-bar-container #line {
    width: 5px;
    height: 285px;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
  }
  
  #timeline-bar-container #line-process {
    width: 100%;
    height: 100%;
  }
  }

/*Tablet: 769px*/
@media (max-width: 769px) {
  .logo {
    position: relative;
    margin-bottom: 5%;
  }

  .navbar {
    width: 15%;
    bottom: 50%;
  }
  .navbar a {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 90%;
    font-size: 15px;
    line-height: 100%;
  }
  /*Home | 1.Section*/
  .home {
    background-position: right bottom;
  }

  .home-content {
    max-width: 100%;
  }

  .home-content h1 {
    position: center;

    font-size: 20px;
    line-height: 75%;
    width: 100%;
    padding: 0 10%;
  }

  .home-content h3 {
    position: relative;
    font-size: 18%;
    line-height: 80%;
    width: 100%;
    margin: 8%;
  }

  .home-content p {
    font-size: 18px;
    width: 100%;
  }

  .home-content .btn-box {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .btn-box a {
    width: 100%;
    margin-bottom: 10px;
  }

  .home-sci {
    width: 100%;
    bottom: 70%;
    justify-content: space-around;
  }

  .home-imgHover {
    position: fixed;
  }

  .skills-content h1 {
    position: relative;
    right: 8%;
    font-size: 20px;
    line-height: 75%;
    width: 100%;
    padding: 0 10%;
  }
  /*Timeline/ 2.Section*/
  .timeline {
    height: auto;
    padding: 20px 5%;
  }

  .timeline-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #timeline-bar-container {
    width: 100%;
    margin-top: 10px;
  }

  #timeline-bar-container ul {
    display: flex;
    align-items: center;
  }

  #timeline-bar-container li:after {
    display: none;
  }

  #timeline-bar-container li {
    width: 100%;
    font-size: 20px;
  }

  #progress-content-section {
    width: 100%;
    margin-top: 25px;
  }

  #progress-content-section .section-content {
    padding: 30px ;
    margin: auto;
    text-align: center;
  }

  #timeline-bar-container #line {
 
  }
  
  #timeline-bar-container #line-process {

  }
}
/*Laptop: 1024px*/
@media (max-width: 1024px) {
  .header {
    padding: 20px 10%;
  }

  .navbar {
    width: 70%;
  }

  .navbar a {
    font-size: 18px;
    margin-left: 30px;
  }
  /*Home | 1.Section*/
  .home {
    padding: 10%;
    background-size: auto;
  }

  .home-content h1 {
    font-size: 56px;
  }

  .home-content h3 {
    font-size: 32px;
  }

  .home-content p {
    font-size: 16px;
  }

  .home-content .btn-box {
    width: 345px;
  }

  .btn-box a {
    width: 150px;
  }

  .home-sci {
    width: 170px;
    bottom: 40px;
  }

  .home-imgHover {
    width: 100%;
    left: 80%;
    top: 55%;
  }
   /*Timeline/ 2.Section*/
   .timeline {
    height: auto;
    padding: 20px 5%;
  }

  .timeline-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #timeline-bar-container {
    width: 100%;
    margin-top: 10px;
  }

  #timeline-bar-container ul {
    display: flex;
    align-items: center;
  }

  #timeline-bar-container li:after {
    display: none;
  }

  #timeline-bar-container li {
    width: 100%;
    font-size: 20px;
  }

  #progress-content-section {
    width: 100%;
    margin-top: 25px;
  }

  #progress-content-section .section-content {
    padding: 30px ;
    margin: auto;
    text-align: center;
  }

  #timeline-bar-container #line {
 
  }
  
  #timeline-bar-container #line-process {

  }
}

/*My PC is 1920 x 1080*/