/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  color: #ededed;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 0.4s; /*.4s*/
}

.navbar a {
  font-size: 18px;
  color: #ededed;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
  color: #00abf0;
}
/*Home Section*/
.home {
  height: 100vh;
  background: url("Img/Cute-Sad-HD-Wallpaper-Dark-Photoroom.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: center;
  padding: 0 10%;
}

.home-content {
  max-width: 600px;
}

.home-content h1 {
  position: relative;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.home-content h1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content h3 {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: #00abf0;
}

.home-content h3::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.3s;
}

.home-content p {
  position: relative;
  font-size: 16px;
  margin: 20px 0 40px;
}

.home-content p::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.6s;
}

.home-content .btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.home-content .btn-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 1.9s;
  z-index: 2;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  color: #081b29;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:hover {
  color: #00abf0;
}
.btn-box a:nth-child(2) {
  background: transparent;
  color: #00abf0;
}

.btn-box a:nth-child(2):hover {
  color: #081b29;
}

.btn-box a:nth-child(2)::before {
  background: #00abf0;
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #081b29;
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.home-sci {
  position: absolute;
  bottom: 40px;
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sci::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 2.5s;
  z-index: 2;
}

.home-sci a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abf0;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sci a:hover {
  color: #081b29;
}

.home-sci a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00abf0;
  z-index: -1;
  transition: 0.5s;
}

.home-sci a:hover::before {
  width: 100%;
}

.home-imgHover {
  position: absolute;
  top: 50px;
  right: 30px;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 3s;
  animation: manipActiveHover 0.1s forwards;
  animation-delay: 4s;
  pointer-events: none;
}

.home-imgHover:hover {
  background: #081b29;
  opacity: 0.8;
}

.home-imgHover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 120%;
  height: 80%;
  background: #081b29;
  animation: showRight 1s ease forwards;
  animation-delay: 3s;
  z-index: 100;
}

@keyframes showRight {
  100% {
    width: 0;
  }
}

@keyframes manipActiveHover {
  100% {
    pointer-events: auto;
  }
}
/**Timeline Section*/
.timeline {
  height: 83vh;
  margin: 0;
  display: flex;
  padding: 0 25%;
  background: #081b29;
}

.timeline-content {
  max-width: 900px;
}

.timeline-content h1 {
  color: white;
  font-weight: 700;
  margin-top: 125px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1.2;
}

.timeline-content h1 span {
  color: #00abf0;
}

.timeline-content h4 {
  color: white;
  font-weight: 500;
  margin-top: 20px;
  text-align: center;
  text-transform: lowercase;
  letter-spacing: 3px;
  line-height: 1.2;
}

.timeline-wrapper {
  margin: auto;
  max-width: 1080px;
}

#timeline-bar-container {
  position: relative;
  width: 80%;
  margin: auto;
  height: 100px;
  margin-top: 59px;
}

#timeline-bar-container ul {
  padding: 0;
  margin: 0;
  padding-top: 15px;
  z-index: 9999;
  position: absolute;
  width: 100%;
  margin-top: -40px;
}

#timeline-bar-container li:before {
  content: "";
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 2px #aaa;
  transition: all ease 0.3s;
}

#timeline-bar-container li.active::before,
#timeline-bar-container li:hover:before {
  background: deepskyblue;
}

#timeline-bar-container li {
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
  color: #aaa;
  text-transform: uppercase;
  font-size: 11px;
  cursor: pointer;
  font-weight: 700;
  transition: all ease 0.2s;
  vertical-align: bottom;
  height: 75px;
  position: relative;
}

#timeline-bar-container li .step-inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  font-size: 14px;
}

#timeline-bar-container li.active,
#timeline-bar-container li:hover {
  color: deepskyblue;
}

#timeline-bar-container li:after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background: #777;
  margin: auto;
  border: solid 7px white;
  border-radius: 50%;
  margin-top: 45px;
  box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
  transition: all ease 0.2s;
}

#timeline-bar-container li:hover:after {
  background: deepskyblue;
}

#timeline-bar-container li.active:after {
  background: deepskyblue;
}

#timeline-bar-container #line {
  width: 80%;
  margin: auto;
  background: #eee;
  height: 5px;
  position: absolute;
  left: 10%;
  top: 57px;
  z-index: 1;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#timeline-bar-container #line-process {
  content: "";
  width: 3%;
  height: 100%;
  background: linear-gradient(to right, deepskyblue 0%, #2ea3b7 100%);
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  transition: all ease 0.9s;
}

#progress-content-section {
  width: 90%;
  margin: auto;
  background: #f3f3f3;
  color: black;
  border-radius: 4px;
}

#progress-content-section .section-content {
  display: none;
  padding: 30px 40px;
  text-align: center;
}

#progress-content-section .section-content.active {
  display: block;
}

/*Skillsbar Section*/
.skillsbar {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #081b29;
  box-sizing: border-box;
}

.skillsbar-wrapper {
  width: 40%;
  min-width: 500px;
  position: relative;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}

.skillsbar-container {
  width: 100%;
  padding: 50px 30px;
  background-color: rgba(9,30,60, 0.2);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
  backdrop-filter: blur(10px);
}

.liquid_shape-1 {
  height: 220px;
  width: 220px;
  background: linear-gradient(45deg, #ff0e72 0%, #ff66a6 100%);
  box-shadow: 0 0 20px #2574ab;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: absolute;
  bottom: -100px;
  left: -80px; 
  z-index: -1;
  animation: liquid 8s ease-in-out infinite;
}

@keyframes liquid {
  0% {
    border-radius:60% 40% 30% 70% / 60% 30% 70% 40%;
    background-size: 100% 100%;
  }
  50% {
    border-radius:30% 60% 70% 40% / 50% 60% 30% 60%;
    background-size:300% 150%;
  }
  100% {
      border-radius:60% 40% 30% 70% / 60% 30% 70% 40%;
      background-size: 100% 100%;
  }
}

.liquid_shape-2 {
  height: 180px;
  width: 180px;
  background: linear-gradient(45deg, #3da5e0, #325ea5 100%);
  box-shadow: 0 0 20px #2574ab;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: absolute;
  top: -100px;
  right: -50px;
  z-index: -1;
  animation: liquid 8s ease-in-out infinite;
}

.skillsbar-container * {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 500;
}

.skillsbar-container h2 {
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.skills:not(:last-child) {
  margin-bottom: 30px;
}

.details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bar {
  position: relative;
  background-color: rgba(255,255,255, 0.06);
  padding: 7px 10px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}

.bar div {
  position: relative;
  width: 0;
  height: 5px; 
  border-radius: 10px;
  background-color: #badefc;
  border: 1px solid #1c97fc;
  box-shadow: 0 0 5px rgba(28,151,252,0.6);
}

#html-bar {
  animation: html-fill 2s forwards;
}

@keyframes html-fill {
  100%{
    width: 90%;
  }
}

#css-bar {
  animation: css-fill 2s forwards;
}

@keyframes css-fill {
  100%{
    width: 75%;
  }
}

#js-bar {
  animation: js-fill 2s forwards;
}

@keyframes js-fill {
  100%{
    width: 40%;
  }
}

#SQL-bar {
  animation: SQL-fill 2s forwards;
}

@keyframes SQL-fill {
  100%{
    width: 82%;
  }
}
